
@model EditUserViewModel

<link href="~/persiandatepicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />

<style>
    .circleInput {
        border-radius: 3px;
    }
</style>

@Html.AntiForgeryToken()
<div class="row center-block box box-primary" style="box-shadow:2px 2px 7px 3px gray;">
    <div class="col-md-4 col-md-offset-2" style="margin-bottom:15px; margin-top:15px;">
        <form asp-area="AdminPanel" asp-controller="User" asp-action="Edit" method="post" enctype="multipart/form-data">

            @*  <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@


            @* نام *@
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control circleInput" placeholder="نام را وارد نمایید" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            @* نام خانوادگی *@
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control circleInput" placeholder="نام خاانوادگی را وارد نمایید" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            @* ایمیل *@
            <div class="form-group circleInput">
                <label asp-for="Email" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-inbox"></i>
                    </div>
                    <input asp-for="Email" class="form-control" placeholder="ایمیل را وارد نمایید" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @* موبایل *@
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <input asp-for="PhoneNumber" class="form-control circleInput" placeholder="شماره تماس را وارد نمایید" />
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            @* تاریخ تولد *@
            <div class="form-group">
                <label asp-for="BirthDayDate" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input asp-for="BirthDayDate" class="form-control circleInput"
                           placeholder="تاریخ تولد را انتخاب نمایید" id="birthdaydate" name="birthdaydate"
                           data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#birthdaydate" data-groupid="group1"
                           data-formdate="true" data-enabletimepicker="false" data-placement="bottom" />
                </div>
                <span asp-validation-for="BirthDayDate" class="text-danger"></span>
            </div>

            @* جنسیت *@
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control circleInput">
                    <option value="@GenderSelect.male">آقا</option>
                    <option value="@GenderSelect.femal">خانم</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            @* تصویر *@
            <div class="form-group">
                <label asp-for="UserImage" class="control-label"></label>
                <div class="form-horizontal">
                    <input asp-for="UserImage" type="file" id="files" name="files" />
                    <input type="button" onclick="UploadImage()" id="btnupload" class="btn btn-info" value="آپلود و نمایش تصویر" />
                </div>
                <span asp-validation-for="UserImage" class="text-danger"></span>
            </div>

            @* چک باکس ریست پسورد *@
            <div class="form-group">
                <label>
                    ریست پسورد
                </label>
                <label class="">
                    <div class="icheckbox_flat-green" onclick="CheckCheckBox();" style="position: relative;" aria-checked="false" aria-disabled="false">
                        <input class="flat-red" id="chekinput" name="chekinput" style="position: absolute; opacity: 0;" type="checkbox">
                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;">
                        </ins>
                    </div>
                </label>
            </div>


            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">بازگشت</a>
            </div>

            <!--ان را دریافت و به ان دسترسی داشته باشیم create نام فایل اپلود شده را میریزیم داخل تگ زیر توسط دستور جی کویری تا در اکشن-->
            <!--برای ذخیره نام تصویر در دیتابیس create برای برگرداندن و فرستادن نام عکس آپلود شده به اکشن -->
            <input type="text" class="hidden" id="imageName" name="imageName" />

        </form>

        @if (ViewBag.SuccessMessage != "")
        {
            <span style="color:green;">
                @ViewBag.SuccessMessage
            </span>
        }


    </div>

    <div class="col-md-5 col-md-offset-1" style="margin-top:25px; margin-bottom:25px;">
        <div class="col-md-10 col-md-offset-1">
            <div class="box box-widget widget-user">
                <div class="widget-user-header bg-light-blue-active text-center">
                    <h3 class="widget-user-username">تصویر کاربر</h3>
                </div>
            </div>


            <div class="form-group">
                <img id="imgUser" class="img-bordered col-md-12 col-xs-12 col-sm-12"
                     src="~/upload/userImage/normalImage/@Model.UserImage" alt="userImage"
                     style="height:350px;" />
            </div>

            <div id="divmessage" class="text-center hidden" style="color:green;">

            </div>

        </div>
    </div>
</div>



@section panelScript{
    <script src="~/persiandatepicker/calendar.js"></script>
    <script src="~/persiandatepicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
    <script>

        //دستور موجود در خود ادمین پنل
        //iCheck for checkbox and radio inputs
        var CheckCheckBox = function () {
            $('input[type="checkbox"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            })
        };

        //---------------------------------- اپلود فایل --------------------
       var UploadImage = function () {

                var data = new FormData;

                //را بریز داخل متغیر get(0)تگ اینپوت  وفایل باری اپلود فایل یک ارایه را برمیگرداند و ما میگوییم که اولیش
                // بدهیم به تگ چند فیال را میتوان باهم انتخاب و اپلود کرد multiple  اگر خاصیت
                var file = $("#files").get(0);

                //را تبدیل کن به نوع فایل و بریز داخل متغیر file محتویات داخل متغیر
                var files = file.files;

            //است را بریز و اضافه کن به متغیر دیتا files هرچی فایل و داده داخل متغیر
            //هم از نوع ارایه است data
            for (var i = 0; i < files.length; i++) {
                    data.append('files', files[i]);
            }

                $.ajax({
                    type: "post",
                    url: '@Url.Action("UploadFile","User", new { area = "AdminPanel"})',
                    data: data,
                    contentType: false,
                    processData: false,

                }).done(function (result) {
                    if (result.status == "success") {

                        $("#imgUser").attr('src', "\\upload\\userImage\\normalImage\\" + result.imageName);
                        $("#divmessage").removeClass('hidden');
                        $("#divmessage").text("تصویر با موفقیت آپلود شد");

                        //ان را دریافت و به ان دسترسی داشته باشیم create نام فایل اپلود شده را از طریق جیسون دریافت و میریزیم داخل تگ زیر تا در اکشن 
                        $("#imageName").val(result.imageName);
                    }
                    //اگر تصویری براای اپلود انتخب نشود
                    if (result.status == "empty") {
                        swal.fire({
                            position: "center",
                            type: "info",
                            icon: "info",
                            title: "<p class='text-secondary ' style='font-size:13px;'>"+result.message+"</p>",
                            confirmButtonColor: '#656e82',
                            confirmButtonText: "فهمیدم"

                           // timer: 1000
                        });
                    }
                    })
                    .fail(function (result) {
                    if (result.status != "success") {
                        $("#divmessage").removeClass('hidden');
                        $("#divmessage").text("در هنگام آپلود مشکلی رخ داد");

                    }
                });

            }
        //-----------------------------------end uploading --------------------------------

    </script>
}