
@model dynamic
<!--چون از چندین مدل تغذیه میکند مدل را داینامیک گرفتیم تا در لحطه اجرا مدل ها را بگیرد-->
<!--نمیگیرد News مثل بقیه لیستی از کلاس   -->


<div class="last-info">
    <span class="news-header ul-title-tabs-color">آخرین مطالب</span>
    <div class="hr-divider"></div>
    <!--nav tabs-->
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="#last-news" class="nav-link active" data-toggle="tab">آخرین اخبار</a></li>
        <li class="nav-item"><a href="#domestic-news" class="nav-link ul-title-tabs-color" data-toggle="tab">داخلی</a></li>
        <li class="nav-item"><a href="#foreign-news" class="nav-link ul-title-tabs-color" data-toggle="tab">خارجی</a></li>
        <li class="nav-item"><a href="#exclusive-news" class="nav-link ul-title-tabs-color" data-toggle="tab">اختصاصی</a></li>
    </ul>
    <!--nav panes-->
    <div class="tab-content">

        <!--اخرین اخبار-->
        <div id="last-news" class="tab-pane container active">
            <ul class="list-list">
                @foreach (var item in Model.LastNews)
                {

                    <li>
                        <span class="badge badge-success">@item.NewsTime</span>
                        <a href="#">@item.Title</a>
                    </li>
                }
            </ul>

        </div>

        <!-- اخبار داخلی-->
        <div id="domestic-news" class="tab-pane container">
            <ul class="list-list">
                @foreach (var item in Model.DomesticNews)
                {

                    <li>
                        <span class="badge badge-success">@item.NewsTime</span>
                        <a href="#">@item.Title</a>
                    </li>
                }
            </ul>
        </div>

        <!-- اخبار خارجی-->
        <div id="foreign-news" class="tab-pane container">
            <ul class="list-list">
                @foreach (var item in Model.ForeignNews)
                {

                    <li>
                        <span class="badge badge-success">@item.NewsTime</span>
                        <a href="#">@item.Title</a>
                    </li>
                }
            </ul>
        </div>


        <!-- اخبار اختصاصی-->
        <div id="exclusive-news" class="tab-pane container">
            <ul class="list-list">
                @foreach (var item in Model.ExclusiveNews)
                {

                    <li>
                        <span class="badge badge-success">@item.NewsTime</span>
                        <a href="#">@item.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>