@model News

<article class="no-gutter separator-left">
    <section class="meta meta-top">
        <div class="content-infos float-left">
            <span>
                <i class="fa fa-calendar"></i>
                <span class="numbers">
                    @Model.NewsDate
                </span>
            </span>
            <span>
                <i class="fa fa-time"></i>
                <span class="numbers">
                    @Model.NewsTime
                </span>
            </span>
            <span>
                <i class="fa fa-user"></i>
                <span class="numbers">@Model.VisitCount</span>
            </span>
        </div>
    </section>
    <div class="clearfix"></div>
    <header>
        <h5 style=" margin:10px; font-weight:bold;">
            @Model.Title
        </h5>
    </header>
    <main class="content">

        @Html.Raw(Model.Content)
        <div>
        </div>
        <section class="meta meta-bottom">
            <div class="float-right">
                <a class="btn-share-ico btn-share btn-facebook" data-share="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn-share-ico btn-share btn-twitter" data-share="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="btn-share-ico btn-share btn-googleplus" data-share="googleplus">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
        </section>
        <div class="clearfix"></div>
        <ul class="list-inline tags">
            <li class="label list-inline-item">
                <a href="/tag/news/%D9%BE%D8%B1%D8%B3%D9%BE%D9%88%D9%84%DB%8C%D8%B3/">
                    <i class="fa fa-tag"></i>
                    پرسپولیس
                </a>
            </li>
            <li class="label list-inline-item">
                <a href="/tag/news/%D8%AF%D8%A7%D8%AE%D9%84%DB%8C/">
                    <i class="fa fa-tag"></i>
                    داخلی
                </a>
            </li>
            <li class="label list-inline-item">
                <a href="/tag/news/%D8%AD%D8%B3%DB%8C%D9%86-%D9%85%D8%A7%D9%87%DB%8C%D9%86%DB%8C/">
                    <i class="fa fa-tag"></i>
                    حسین ماهینی
                </a>
            </li>
        </ul>

    </main>

</article>